setuptools-scm==6.3.2
networkx==2.6.3
pandas==1.2.5
click==8.0.1
pytz==2021.3
-e git+https://github.com/JustAnotherArchivist/snscrape.git@a6b6f3faaa26f541d9469651451340096b5abc92#egg=snscrape
matplotlib==3.5.0